workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "web"'
    - if: '$CI_PIPELINE_SOURCE == "api"'

variables:
  COV_MODULE: quantify_scheduler
  GIT_DEPTH: 0  # Disable shallow clone that breaks `miniver`

include:
  - project: "quantify-os/ci"
    ref: main
    file: "/python-vanilla.yml"
  - project: "quantify-os/ci"
    ref: main
    file: "/python-windows.yml"
  - project: "quantify-os/ci"
    ref: main
    file: "/python-linting-vanilla.yml"
  - project: "quantify-os/ci"
    ref: main
    file: "/python-packaging-pypi.yml"
