# quantify installation requirements

numpy
scipy
columnar
matplotlib
plotly
fastjsonschema
dataclasses-json
# zhinst versions pinned, see #187
zhinst-qcodes==0.1.4
zhinst-toolkit==0.1.5
pathvalidate
typing_extensions
quantify_core>=0.5.0
qblox-instruments==0.5.3

# We are using rich in our tutorials
rich[jupyter]

# tmp fixes

funcparserlib==1.0.0a0 # https://github.com/vlasovskikh/funcparserlib/issues/69

# See https://gitlab.com/quantify-os/quantify-core/-/merge_requests/242
# A requirement for quantify-core but won't work on RTD because it uses the released
# versions of quantify-core
lmfit<=1.0.2
