# Quantify-scheduler installation requirements

columnar
dataclasses-json
fastjsonschema
matplotlib
networkx
numpy
orjson
pandas
pathvalidate
plotly
pydantic
qblox-instruments==0.7 # Prevent upgrade upon minor release while allowing for installing patch releases
quantify_core>=0.5.0
qcodes>=0.28.0,<0.34.0 # 0.28.0: document Parameter attributes, <0.34.0: https://gitlab.com/quantify-os/quantify-scheduler/-/issues/300
scipy
xxhash
# zhinst versions pinned, see #187
zhinst==21.8.20515
zhinst-qcodes==0.1.4
zhinst-toolkit==0.1.5

# We are using rich in our tutorials
rich[jupyter]

# Tmp fixes
nbclient<0.6 # Required by myst-nb 0.16.0 (via jupyter-cache) for Read-the-Docs to build
