# quantify

pip
coverage
sphinx>=5.1.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-bibtex
jupyter_sphinx>=0.4.0
sphinx-jsonschema
sphinx-autobuild
sphinx-togglebutton
sphinx-autodoc-typehints==1.12.0 # required by either sphinx.ext.autodoc or sphinx.ext.napoleon
sphinx-autoapi
myst-parser
myst-nb
pytest
pytest-runner
pytest-cov
pytest-mpl
pytest-mock
pytest-xdist # run parallel tests

black
mypy
types-docutils
pylint
pre-commit
pre-commit-hooks # common hooks for git repos
isort>=5.10.0 # sort python imports

scanpydoc >=0.7.1, <=0.7.3 # ensures latest typing_extensions is used in sphinx (https://github.com/theislab/scanpydoc/issues/31)
rich[jupyter]
jupytext

prospector[with_mypy]

# To ensure that the correct version of Setuptools is set up in ReadTheDocs
setuptools>=66.1
