# quantify installation requirements

numpy
scipy
columnar
matplotlib
plotly
jsonschema
dataclasses-json
zhinst-qcodes
pathvalidate
typing_extensions
quantify_core@git+https://gitlab.com/quantify-os/quantify-core@develop
qblox-instruments==0.3.2
