adaptive==1.0.0
alabaster==0.7.13
anyascii==0.3.2
appnope==0.1.3
asteval==0.9.30
astroid==2.15.6
asttokens==2.2.1
attrs==23.1.0
azure-core==1.28.0
azure-identity==1.13.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
black==23.7.0
bleach==6.0.0
bokeh==3.2.0
broadbean==0.11.0
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.2.0
click==8.1.4
cloudpickle==2.2.1
colorama==0.4.6
colorcet==3.0.1
Columnar==1.4.1
comm==0.1.3
contextlib2==21.6.0
contourpy==1.1.0
coverage==7.2.7
cryptography==41.0.2
cycler==0.11.0
dataclasses-json==0.5.9
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
docutils==0.18.1
dodgy==0.2.1
exceptiongroup==1.1.2
execnet==2.0.2
executing==1.2.0
fastjsonschema==2.17.1
filelock==3.12.2
flake8==5.0.4
flake8-polyfill==1.0.2
fonttools==4.40.0
future==0.18.3
gitdb==4.0.10
GitPython==3.1.32
google-api-core==2.11.1
google-auth==2.22.0
googleapis-common-protos==1.59.1
greenlet==2.0.2
h5netcdf==1.2.0
h5py==3.9.0
hickle==5.0.2
holoviews==1.16.2
hvplot==0.8.4
identify==2.5.24
idna==3.4
ifaddr==0.2.0
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.0.0
iniconfig==2.0.0
ipykernel==6.24.0
ipython==8.14.0
ipywidgets==8.0.7
isort==5.12.0
jaraco.classes==3.3.0
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jsonpointer==2.4
jsonschema==4.18.1
jsonschema-specifications==2023.6.1
jupyter-cache==0.6.1
jupyter-sphinx==0.4.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupytext==1.14.7
keyring==24.2.0
kiwisolver==1.4.4
latexcodec==2.0.1
lazy-object-proxy==1.9.0
lazy_loader==0.3
linkify-it-py==2.0.2
livereload==2.6.3
lmfit==1.2.1
loky==3.4.1
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
methodtools==0.4.7
mistune==3.0.1
more-itertools==9.1.0
msal==1.22.0
msal-extensions==1.0.0
mypy-extensions==1.0.0
myst-nb==0.17.2
myst-parser==0.18.1
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.9.1
nest-asyncio==1.5.6
networkx==3.1
nodeenv==1.8.0
numpy==1.25.1
opencensus==0.11.2
opencensus-context==0.1.3
opencensus-ext-azure==1.1.9
orjson==3.9.2
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
panel==1.2.0
param==1.13.0
parso==0.8.3
pathspec==0.11.1
pathvalidate==3.0.0
pendulum==2.1.2
pep8-naming==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pip==23.1.2
pkginfo==1.9.6
platformdirs==3.8.1
plotly==5.15.0
pluggy==1.2.0
portalocker==2.7.0
pre-commit==3.3.3
pre-commit-hooks==4.4.0
prompt-toolkit==3.0.39
prospector==1.10.2
protobuf==4.23.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybtex==0.24.0
pybtex-docutils==1.0.2
pycodestyle==2.9.1
pycparser==2.21
pyct==0.5.0
pydantic==1.10.11
pydocstyle==6.3.0
pyflakes==2.5.0
Pygments==2.15.1
PyJWT==2.7.0
pylint==2.17.4
pylint-celery==0.3
pylint-django==2.5.3
pylint-flask==0.6
pylint-plugin-utils==0.7
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqtgraph==0.13.3
pyright==1.1.317
pyserial==3.5
pytest==7.4.0
pytest-cov==4.1.0
pytest-mock==3.11.1
pytest-xdist==3.3.1
python-dateutil==2.8.2
pytz==2023.3
pytzdata==2020.1
PyVISA==1.13.0
pyviz-comms==2.3.2
PyYAML==6.0
pyzmq==25.1.0
qblox-instruments==0.10.0
qcodes==0.39.0
qcodes-loop==0.1.1
quantify-core==0.7.2
quantify-scheduler @ file:///builds/quantify-os/quantify-scheduler/dist/quantify_scheduler-0.14.1.dev37%2Bg5eab663c-py3-none-any.whl#sha256=83a98beb45aded2b8d73ccc920157d28e17891006fb64f4845ae328166c0d090
readme-renderer==40.0
referencing==0.29.1
requests==2.31.0
requests-toolbelt==1.0.0
requirements-detector==1.2.2
rfc3986==2.0.0
rich==13.4.2
rpds-py==0.8.10
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
ruff==0.0.277
scanpydoc==0.7.11
schema==0.7.5
scipy==1.11.1
SecretStorage==3.3.3
semver==3.0.1
setoptconf-tmp==0.3.1
setuptools==68.0.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.4.1
Sphinx==5.3.0
sphinx-autoapi==2.1.1
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.23.0
sphinx-jsonschema==1.19.1
sphinx-rtd-theme==1.2.2
sphinx-togglebutton==0.3.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spirack==0.2.4
SQLAlchemy==2.0.18
stack-data==0.6.2
tabulate==0.9.0
tenacity==8.2.2
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
twine==4.0.2
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
uncertainties==3.1.7
urllib3==1.26.16
versioningit==2.2.0
virtualenv==20.23.1
wcwidth==0.2.6
webencodings==0.5.1
websockets==11.0.3
wheel==0.40.0
widgetsnbextension==4.0.8
wirerope==0.4.7
wrapt==1.15.0
xarray==2023.6.0
xxhash==3.2.0
xyzservices==2023.5.0
zhinst==21.8.20515
zhinst-qcodes==0.1.4
zhinst-toolkit==0.1.5
zipp==3.16.0
